<div class="modal" [ngClass]="{'d-block' : isModalOpen}" tabindex="-1" role="dialog">
  <div class="overlay" (click)="cancel()"></div>

  <div class="modal-dialog"  role="document">
    <form class="modal-content" (ngSubmit)="submit()">

      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="error != ''">
          {{ error }}
        </div>
        <div class="form-group" *ngIf="isCreate">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="name" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="model">Model</label>
          <input type="text" [(ngModel)]="model" class="form-control" id="model" placeholder="Model">
        </div>
        <div class="form-group">
          <label for="device">Device</label>
          <input type="text" [(ngModel)]="device" class="form-control" id="device" placeholder="Device">
        </div>
        <div class="form-group">
          <label for="baudRate">BaudRate</label>
          <input type="text" [(ngModel)]="baudRate" class="form-control" id="baudRate" placeholder="BaudRate">
        </div>
        <div class="form-group">
          <label for="videoStream">Video Stream</label>
          <input type="text" [(ngModel)]="videoStream" class="form-control" id="videoStream" placeholder="Video Stream">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
      </div>
    </form>
  </div>
</div>
