<div class="card" [routerLink]="printerUrl(printer.metadata.name)">
  <div class="progress" *ngIf="printProgress != null">
    <div class="progress-bar" role="progressbar" style="width: {{ printProgress | number:'0.0-2' }}%"></div>
  </div>
  <div class="card-body">
    <div class="printer-actions">
      <button type="button" class="btn btn-outline-secondary btn-sm border-0" *ngIf="!isClean" (click)="clean($event)">
        <i class="fas fa-broom"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary btn-sm border-0" (click)="switchConnection($event)">
        <i class="fas fa-plug"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary btn-sm border-0" (click)="edit($event)">
        <i class="fas fa-cog"></i>
      </button>
      <button type="button" class="btn btn-outline-secondary btn-sm border-0" (click)="delete($event)">
        <i class="fas fa-trash"></i>
      </button>
    </div>

    <h5 class="card-title mb-0 mr-2">{{ printer.metadata.name }}</h5>
    <h6 class="card-subtitle mb-0 text-muted">{{ printer.spec.model }}</h6>

    <div class="printer-state">
      <span class="printer-state-status mr-2 text-success" *ngIf="printer.connectionStatus == 'Connected' || printer.connectionStatus == 'Printing'">{{ printer.connectionStatus }}</span>
      <span class="printer-state-status mr-2 text-warning" *ngIf="printer.connectionStatus == 'Disconnected'">{{ printer.connectionStatus }}</span>
      <span class="printer-state-status mr-2 text-danger" *ngIf="printer.connectionStatus == 'Error'">{{ printer.connectionStatus }}</span>
      <span class="printer-temperature text-muted">{{ printer.temperature }}</span>
    </div>
  </div>

  <div class="chart-container" #chart style="position: relative; height: 120px; width:100%"></div>
</div>
<printer-edit [open]="isEditModalOpen" [printer]="printer" [error]="error" (canceled)="cancel()" (submitted)="submit($event)"></printer-edit>
