.printer-actions {
  float: right;
}
.chart-wrapper {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  margin-bottom: -1.25rem;
}
.progress {
  border-radius: .25rem .25rem 0 0;
  height: 5px;
  position: absolute;
  width: 100%;
}
h5, h6 {
  display: inline-block;
}
.printer-state-status {
  font-weight: bold;
}
.card {
  box-shadow: 0 0 0 0 #fff;
  transition: box-shadow .5s;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.5);
}
