<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Prints</li>
  </ol>
</nav>
<h4 class="mb-4">Prints</h4>

<div class="row">
  <div class="col-sm-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-0 mr-2">History</h5>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Volume</th>
            <th scope="col">File</th>
            <th scope="col">Status</th>
            <th scope="col">Progress</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let print of prints">
            <th scope="row">{{ print.metadata.name }}</th>
            <td>{{ print.spec.fileRef.volume }}</td>
            <td>{{ print.spec.fileRef.file }}</td>
            <td>{{ print.status.status }}</td>
            <td>
              <span *ngIf="print.status.progress != null">{{ print.status.progress | number:'0.0-2' }} %</span>
            </td>
            <td>
              <div class="overlay" (click)="closeDropdown(print)" [ngClass]="{'d-block' : isDropdownOpen(print)}"></div>
              <div class="dropdown">
                <a class="print-dropdown-toggle" role="button" (click)="openDropdown(print)">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu" [ngClass]="{'show' : isDropdownOpen(print)}">
                  <a class="dropdown-item" (click)="cancel(print)">Cancel</a>
                  <a class="dropdown-item text-danger" (click)="delete(print)">Delete</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<print-create></print-create>
