<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Video Streams</li>
  </ol>
</nav>
<h4 class="mb-4">Video Streams</h4>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-0 mr-2">List</h5>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let videoStream of videoStreams">
            <th scope="row">{{ videoStream.metadata.name }}</th>
            <td>{{ videoStream.type }}</td>
            <td>{{ videoStream.spec.motion?.device }} {{ videoStream.spec.motion?.height }}x{{ videoStream.spec.motion?.width }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
