<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Print3r</a>
  <button class="navbar-toggler" type="button" (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{'show' : open}">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="routes.dashboard.toUrl()" routerLinkActive="active">Overview</a>
      <a class="nav-item nav-link" [routerLink]="routes.printerOverview.toUrl()" routerLinkActive="active">Printers</a>
      <a class="nav-item nav-link" [routerLink]="routes.volumeOverview.toUrl()" routerLinkActive="active">Volumes</a>
      <a class="nav-item nav-link" [routerLink]="routes.videoStreamOverview.toUrl()" routerLinkActive="active">Video Streams</a>
      <a class="nav-item nav-link" [routerLink]="routes.printOverview.toUrl()" routerLinkActive="active">Prints</a>
    </div>
  </div>
</nav>
