<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Printers</li>
  </ol>
</nav>
<h4 class="mb-4">Printers</h4>

<div class="row">
  <printer-overview-item *ngFor="let printer of printers;trackBy: trackByFn" class="col-md-6 col-xl-4 mb-4" [printer]="printer"></printer-overview-item>
  <printer-overview-create class="col-md-6 col-xl-4 mb-4"></printer-overview-create>
</div>
