<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Printers</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ printer?.metadata?.name }}</li>
  </ol>
</nav>
<h4 class="mb-4">Printer "{{ printer?.metadata?.name }}"</h4>

<div class="row">
  <printer-video [printer]="printer" class="col-sm-12 mb-4"></printer-video>
</div>
