<button type="button" name="button" class="btn btn-block btn-outline-secondary create-button" (click)="open()">
  <i class="fas fa-plus"></i>
  Create Printer
</button>

<printer-edit [open]="isModalOpen" [error]="error" (canceled)="cancel()" (submitted)="submit($event)"></printer-edit>
