@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  font-size: .875rem;
  background: #f1f4f5;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  background: none;
  font-size: .9rem;
}
