<button type="button" name="button" (click)="open()" class="btn btn-success btn-outline">Create</button>

<div class="modal" [ngClass]="{'d-block' : isModalOpen}" tabindex="-1" role="dialog">
  <div class="overlay" (click)="cancel()"></div>

  <div class="modal-dialog"  role="document">
    <form class="modal-content" (ngSubmit)="submit()">

      <div class="modal-header">
        <h5 class="modal-title">Create a new print</h5>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="error != ''">
          {{ error }}
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="name" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="printer">Printer</label>
          <input type="text" [(ngModel)]="printer" class="form-control" id="printer" placeholder="Printer">
        </div>
        <div class="form-group">
          <label for="volume">Volume</label>
          <input type="text" [(ngModel)]="volume" class="form-control" id="volume" placeholder="Volume">
        </div>
        <div class="form-group">
          <label for="file">File</label>
          <input type="text" [(ngModel)]="file" class="form-control" id="file" placeholder="File">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
      </div>
    </form>
  </div>
</div>
